.appContainer {
  height: 100%;
  background-color: #223a5f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-holder {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border: #ffffff solid;
  margin-left: 60px;
  margin-right: 60px;
}

.listId {
  color: #ffffff;
  list-style-type: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

.scoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 10px;
  height: 20vh;
  width: 20vh;
}

.scoreItem {
  color: #223a5f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.buttonCard {
  display: flex;
  justify-content: flex-end;
}

.game-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  height: 100px;
}

.upper {
  display: flex;
  justify-content: space-evenly;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image1 {
  height: 80px;
  width: 80px;
}

.resultViewCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageCard {
  display: flex;
  justify-content: space-between;
}

.resultImage {
  height: 200px;
  width: 200px;
}

.subImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultViewText {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: large;
  font-weight: bold;
}

.playAgainBtn {
  font-family: 'Roboto';
  font-size: 16px;
  border-radius: 15px;
  font-style: italic;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: large;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 30px;
}

.buttonClick {
  background-color: transparent;
  outline: none;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
